div{
  height: 200px;

}
button {
  width: 200px;
  height: 100px;
  background-color: darkblue;
  margin-top:  200px;
  margin-left: 30px;
  padding: 10px;
  color: darkgray;
  cursor: pointer;
  border: 2px solid darkgray;
  font-size: 20px;
  font-family: NSimSun;
}

button:hover {
  width: 170px;
  height: 90px;
  background-color: #171780;
}
